[config]
schemaVersion = "0.0.1"

[package]
namespace = "api_dev"
name = "API"
versionNumber = "2.0.2"
description = "The de-facto standard core API for all Inscryption mods. This lets you create new cards, abilities, challenges, map nodes, starter decks, and more."
websiteUrl = "https://github.com/ScottWilson0903/InscryptionAPI"
containsNsfwContent = false

[package.dependencies]
BepInEx-BepInExPack_Inscryption = "5.4.1901"

[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "./build"

[[build.copy]]
source = "InscryptionAPI/bin/Release/InscryptionAPI.dll"
target = "plugins/InscryptionAPI.dll"

[[build.copy]]
source = "APIPatcher/bin/Release/APIPatcher.dll"
target = "patchers/APIPatcher.dll"

[[build.copy]]
source = "InscryptionCommunityPatch/bin/Release/InscryptionCommunityPatch.dll"
target = "plugins/InscryptionCommunityPatch.dll"

[publish]
repository = "https://inscryption.thunderstore.io"
communities = ["inscryption"]
categories = ["libraries"]
